:root {
  --darkest-greige: #66615b;
  --greige: #f4f3ef;
  --grey-medium: #d1cfcd;
  --grey-medium: #424242;
  --spartan-primary: #ed3343;
  --spartan-secondary: #f3bb45;
}


body {
  background-color: var(--greige)
}


.App {
  text-align: center;
}



/* Styling for the home page */



/* Styling for the signup login modal */
.login-signup-modal-container {
  background-color: var(--greige);
  width: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}



/* Styling for the Schedule Meet component */
.meeting-picker {
  margin: 0 auto;
  width: 80vw;
}

.meeting-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.meeting-submit-btn {
  margin-top: 3rem;
}

.schedule-meeting-area {
  background-color: white;
  padding: 1rem;
  margin-bottom: 5rem !important;
}

/* Styling for the Calendar area */

.meeting-modal-container {
  background-color: var(--greige);
  width: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 3rem;
}